{% extends 'app/main.html' %}
{% block main_section %}
    <div class="form_section">  <!-- Мы это добавили что бы просто потом добавить свои собственные стили --> 
        <h2>Вы успешно вышли с аккаунта </h2>
        <form method="POST">
        {% csrf_token %}
        <a href="{% url 'user' %}">Войти в личный кабинет снова</a>
        </form>
    </div>
{% endblock main_section %}

{% block aside_news_section %}
<h3><b>5 Лучших игровых движков</b></h3>
<img src="https://static.mvideo.ru/media/Promotions/Promo_Page/2021/September/obzor-populyarnyh-igrovyh-dvizhkov/obzor-populyarnyh-igrovyh-dvizhkov-top1-m.png" class="img-thumbnail mb-1"> <!-- из за этого классе изображение становится миниатюрным и в рамке -->
    <p>С развитием сферы игростроения появилось огромное множество всевозможных движков. Выбрать подходящий
        бывает очень не просто. Мы расскажем вам про 5 лучших игровых движков для создания игр всех тематик 
    </p>
        <a href="https://habr.com/ru/companies/timeweb/articles/659891/" target="_blank"> <!--  --> 
<button class="btn btn-warning">Посмотреть</button> <!--  -->
        </a>
{% endblock aside_news_section %}