{% extends 'app/main.html' %}
{% load crispy_forms_tags %}

{% block main_section %}
    <div class="form_section">  <!-- Мы это добавили что бы просто потом добавить свои собственные стили -->
         <!--выводим имя пользователя ой джоске  -->
        <h2>Кабинет пользователя</h2> 
        <div class="media text-muted pt-3">
            
            <img class="mr-2 rounded" style = "width: 64px; height: 64px;" src="{{ user.profile.img.url }}" >
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">@{{ user.username }}</strong>
                <b>Email:</b>{{ user.email }}
            </p>
        </div>
            <!-- Новая форма -->
        <h3 mt-3>Изменить данные про пользователя</h3>
        <form method="POST" enctype="multipart/form-data">  <!-- Важный параметр-->
            {% csrf_token %}
            {{ update_user|crispy }}
            {{ img_profile|crispy }}
            <button type="submit" class="btn btn-outline-warning">Обновить данные</button> <!-- submit - значит будет загружаться с перезагрузкой страницы  --> 
        </form>
    </div>
{% endblock main_section %}


{% block aside_news_section %}
<h3><b>5 Лучших игровых движков</b></h3>
<img src="https://static.mvideo.ru/media/Promotions/Promo_Page/2021/September/obzor-populyarnyh-igrovyh-dvizhkov/obzor-populyarnyh-igrovyh-dvizhkov-top1-m.png" class="img-thumbnail mb-1"> <!-- из за этого классе изображение становится миниатюрным и в рамке -->
    <p>С развитием сферы игростроения появилось огромное множество всевозможных движков. Выбрать подходящий
        бывает очень не просто. Мы расскажем вам про 5 лучших игровых движков для создания игр всех тематик 
    </p>
        <a href="https://habr.com/ru/companies/timeweb/articles/659891/" target="_blank"> <!--  --> 
<button class="btn btn-warning">Посмотреть</button> <!--  -->
        </a>
{% endblock aside_news_section %}
