<!-- Для контаков -->
{% extends 'app/main.html' %}

{% block main_section %}
    <h3>Страница с контактами</h3>
{% endblock main_section %}
 

<!-- Блок правый  с рекламой -->
{% block aside_news_section %}
<h3><b>5 Лучших игровых движков</b></h3>
<img src="https://static.mvideo.ru/media/Promotions/Promo_Page/2021/September/obzor-populyarnyh-igrovyh-dvizhkov/obzor-populyarnyh-igrovyh-dvizhkov-top1-m.png" class="img-thumbnail mb-1"> <!-- из за этого классе изображение становится миниатюрным и в рамке -->
    <p>С развитием сферы игростроения появилось огромное множество всевозможных движков. Выбрать подходящий
        бывает очень не просто. Мы расскажем вам про 5 лучших игровых движков для создания игр всех тематик 
    </p>
        <a href="https://habr.com/ru/companies/timeweb/articles/659891/" target="_blank"> <!--  --> 
<button class="btn btn-warning">Посмотреть</button> <!--  -->
        </a>

{% endblock aside_news_section %}