body {
    background-color: #fafafa;
}

.alert-light {
    border-color: #bfbfbf
}

.form_section {
    background: #fff; /* Добавляет белый фон */
    padding: 20px; /*  Добавляет внутренний отступ 20 пикселей вокруг сожержимых элементов с классом form_section*/
    border: 1px solid silver; /* Добавляет серую границу толщиной 1 пиксель вокруг элементов */
    box-sizing: border box; /* Устанавливает, что ширина и высота элементов включают в себя границу и внутренние отступы, а не только содержимое */
    width: 100%; /* Устанавливает ширину элементов с классом form_section на 100% от ширины родительского элемента */
    -webkit-box-shadow:0 2px 3px 0 rgba(74,74,74,21); /* Добавляет тень к элементам с классом form_section для браузеров на основе WebKit (например, Chrome, Safari).
    Тень имеет смещение по оси X 0 пикселей, смещение по оси Y 2 пикселя, размытие 3 пикселя */
    -moz-box-shadow: 0 2px 3px 0 rgba(74,74,74,21); /* Добавляет тень к элементам с классом form_section для браузеров на основе Mozilla (например, Firefox).
    Тень имеет те же параметры, что и в предыдущем свойстве */
    box-shadow: 0 2px 3px 0 rgba(74,74,74,21); /* Добавляет тень к элементам с классом form_section для всех остальных браузеров.
    Тень имеет те же параметры, что и в предыдущих свойствах */

}


.form_section > h2 { /* Это CSS-селектор, который выбирает все элементы <h2>, являющиеся непосредственными дочерними элементами элементов с классом form_section */
    color: #b38a22; /* Устанавливает цвет текста заголовков <h2> внутри элементов с классом form_section в оттенок коричневого */ 
    margin-bottom: 10 px; /* Добавляет нижний внешний отступ в 10 пикселей для заголовков <h2> внутри элементов */
}

/* закоментитьы */
/* .form_section {

Это CSS-селектор, который выбирает все элементы с классом form_section.
background: #fff;

Устанавливает белый фон для элементов с классом form_section.
padding: 20px;

Добавляет внутренний отступ в 20 пикселей вокруг содержимого элементов с классом form_section.
border: 1px solid silver;

Добавляет серую границу толщиной 1 пиксель вокруг элементов с классом form_section.
box-sizing: border box;

Устанавливает, что ширина и высота элементов включают в себя границу и внутренние отступы, а не только содержимое.
width: 100%;

Устанавливает ширину элементов с классом form_section на 100% от ширины родительского элемента.
-webkit-box-shadow:0 2px 3px 0 rgba(74,74,74,21);

Добавляет тень к элементам с классом form_section для браузеров на основе WebKit (например, Chrome, Safari).
Тень имеет смещение по оси X 0 пикселей, смещение по оси Y 2 пикселя, размытие 3 пикселя и цвет rgba(74,74,74,21).
-moz-box-shadow: 0 2px 3px 0 rgba(74,74,74,21);

Добавляет тень к элементам с классом form_section для браузеров на основе Mozilla (например, Firefox).
Тень имеет те же параметры, что и в предыдущем свойстве.
box-shadow: 0 2px 3px 0 rgba(74,74,74,21);

Добавляет тень к элементам с классом form_section для всех остальных браузеров.
Тень имеет те же параметры, что и в предыдущих свойствах.
}

Закрывает блок стилей для класса .form_section.
.form_section > h2 {

Это CSS-селектор, который выбирает все элементы <h2>, являющиеся непосредственными дочерними элементами элементов с классом form_section.
color: #b38a22;

Устанавливает цвет текста заголовков <h2> внутри элементов с классом form_section в оттенок коричневого.
margin-bottom: 10 px;

Добавляет нижний внешний отступ в 10 пикселей для заголовков <h2> внутри элементов с классом form_section.
}

 */

.user_image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 10px;
}

footer {
    padding: 30px;
    background: #333a41;
    color: #f1efef;
    float: left;
    width: 100%;
    margin-top: 50px;
}

footer a {color: #788c9e;}
footer a:hover {color: #79b0e2;}


img {
    max-width: 100%;
}